[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"

[packages]
final_project = {editable = true,path = "."}
luigi = {git = "https://github.com/praneetmsft/luigi"}
azure-batch = "*"
azure-storage-blob = "*"

[requires]
python_version = "3.7"
